
#Formulario{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#Hipervinculos{
    text-align: center;
    background-color:rgb(187, 138, 64);
    text-size-adjust: 20px;
    
}

#Hipervinculos a{
    text-decoration: none;
    color: white;
    padding: 0 10;
}

#Hipervinculos a:hover{
    background-color: white;
    color: black;
}

#encabezado {
    background-image: url('Multimedia/banner.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al encabezado */
    background-position: center; /* Centra la imagen de fondo horizontalmente */
    color: rgb(0, 0, 0); /* Color del texto en el encabezado (para que sea legible) */
    text-align: center; /* Centra el texto en el encabezado */
    padding: 100px 0; /* Espaciado interno arriba y abajo para el contenido del encabezado */
}

main{
    background-color: burlywood;
}

footer{
    background-color: burlywood;
}

#titulo {
    text-align: center; /* Centra el contenido horizontalmente */
    background-color: #f2f2f2; 
    padding: 20px; 
  } 
  #titulo{
    display: inline-block; /* Permite que el título se comporte como un bloque en línea */
    background-color: #5e1616; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 70px; 
    font-family: 'Mukta', sans-serif;
  }

  .box{
    margin:0 auto; 
    width:600px; 
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    background-color: burlywood;
    }