#titulo{
    text-align: center;
    color: white;
}



#Hipervinculos{
    text-align: center;
    background-color: #272727;
    text-size-adjust: 20px;
    font-family: 'Oswald', sans-serif;
    
}

#Hipervinculos a{
    text-decoration: none;
    color: white;
    padding: 0 10;
}

#Hipervinculos a:hover{
    background-color: white;
    color: black;
}

main{
    background-color: white;
}

body{
    background-color: #272727;
}
footer{
    background-color: #272727;
    color: white;
}

#titulo {
    text-align: center; /* Centra el contenido horizontalmente */
    background-color: #f2f2f2; 
    padding: 20px; 
  } 
  

  .contenedor{
    font-family: 'Oswald', sans-serif;
  }

  #peliculas{
    font-family: 'Oswald', sans-serif;
  }

  #series{
    font-family: 'Oswald', sans-serif;
  }

  #Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    float: right;

    
}

#titulo {
    background-color: #272727;
    padding: 20px;
    text-align: center; /* Centrar el contenido horizontalmente */
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    
    
}

.imagen {
    width: 200px;
    
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
    
}

.imagen:hover {
    transform: scale(1.2); /* Escala la imagen al 120% del tamaño original al pasar el cursor por encima */

}



