

.ParrafoHeader{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;
    color: #000000ce;
}

#AboutUs{
    font-family: 'Oswald', sans-serif;
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el div horizontalmente */
    text-align: center; /* Centra el texto dentro del div horizontalmente */
}








#Hipervinculos{
    text-align: center;
    background-color: #272727;
    text-size-adjust: 20px;
    font-family: 'Oswald', sans-serif;
    
}

#Hipervinculos a{
    text-decoration: none;
    color: white;
    padding: 0 10;
}

#Hipervinculos a:hover{
    background-color: white;
    color: black;
}

main{
    background-color: rgb(245, 245, 245);
}

.Catalogo{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}

#Peliculas{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: #272727;   
}

.Imagen:hover{
    transform: scale(1.1);
    opacity: 1;
}

#Series{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: #272727;
}

.footer{
    background-color: #272727;
    color: white;
}



.Info{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#titulo {
    background-color: #272727;
    padding: 20px;
    text-align: center; /* Centrar el contenido horizontalmente */
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    
    
}



body{
    background-color: #272727;
}
  

#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    float: right;
}



.Imagen{
    margin: 10px;
}




  