
#Formulario{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#Hipervinculos{
    text-align: center;
    background-color:rgb(187, 138, 64);
    text-size-adjust: 20px;
    
}

#Hipervinculos a{
    text-decoration: none;
    color: white;
    padding: 0 10;
}

#Hipervinculos a:hover{
    background-color: white;
    color: black;
}

#encabezado {
    background-image: url('Multimedia/banner.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al encabezado */
    background-position: center; /* Centra la imagen de fondo horizontalmente */
    color: white; /* Color del texto en el encabezado (para que sea legible) */
    text-align: center; /* Centra el texto en el encabezado */
    padding: 100px 0; /* Espaciado interno arriba y abajo para el contenido del encabezado */
}

main{
    background-color: burlywood;
}

footer{
    background-color: burlywood;
}